
header{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > div{
    padding: 50px 25px;
}

header > div:last-child{
    flex-basis: 30%;
    text-align: center;
}

header a{
    display: block;
    text-decoration: none;
}

header a div{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

header a img{
    margin-top: 3px;
    width: 20px !important;
    height:fit-content;
}

img{
    width: 250px;
}

h1, h2{
    margin: 0;
}

h1{
    font-size: 300%;
    font-weight: 400;
}

h2{
    font-weight: 200;
}
