:root{
    --color-one: #F0F3FF;
    --color-two: #15F5BA;
    --color-four: #211951;
    --color-six: #836FFF;
}

*{
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-weight: 200;
    user-select: none;
}

body{
    color: var(--color-four);
    background-color: var(--color-one);
    margin: 0;
}

main{
    padding: 0 50px;
}

h1, p{
    margin: 0;
}

header a, .githubLink, .liveLink{
    text-align: center;
    color: var(--color-four);
    text-decoration: none;
    font-size:large;
    background-color: var(--color-six);
    width: 120px;
    padding: 3px;
    border-radius: 3px;
}

header a div, 
.githubLink div, 
.liveLink div{
    transform-origin: center;
    transition: all ease 0.5s;
}

header a:hover div, 
.githubLink:hover div, 
.liveLink:hover div{
    transform: scale(0.9);
}

.title{
    margin-bottom: 20px;
}

.title{
    border-bottom: 1px solid var(--color-two);
}

.logos{
    width: 30px;
}
