.project, .project > div:nth-child(1), .links{
    display: flex;
}

.project > div:nth-child(1), .githubLink{
    align-items: center;
}

.project{
    gap: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 0px 0.5px var(--color-four);
}

.project h2{
    font-weight: 400;
}

.project h4{
    margin: 0;
}

.project > div{
    flex-basis: 70%;
}

.project > div:nth-child(1){
    padding-top: 10px;
    flex-basis: 50%;
    flex-direction: column;
    gap: 5px;
}

.tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.links{
    padding: 10px 0px;
    justify-content: space-around;
}

.liveLink{
    height: fit-content;
}

.project > img{
    width: 300px;
}

@media only screen and (max-width: 480px){
    .project{
        flex-direction: column;
        box-shadow: 0px 0.5px 0px 0.5px var(--color-four);
    }

    .project div{
        text-align: center;
    }
}
