#experience{
    display: flex;
}

#experience h3, h4{
    margin: 0;
}

#experience h3{
    margin-top: 4.5px;
}

#experience h4{
    font-weight: 100;
}

#experience h2{
    height: fit-content;
    flex-basis: 30%;
    padding-right: 20px;
    border-right: solid var(--color-four) 1px;
}

#experience div{
    padding-left: 30px;
}

#experience ul{
    list-style-type: none;
}

#experience li{
    padding-bottom: 10px;
}
